<ion-card class="restaurant-card">
  <ion-thumbnail class="img-wrapper">
    <ion-skeleton-text
      [animated]="true"
      class="skeleton-fill"
    ></ion-skeleton-text>
  </ion-thumbnail>
  <ion-card-content class="card-body">
    <div class="title-row">
      <ion-skeleton-text
        [animated]="true"
        class="skeleton-line title"
      ></ion-skeleton-text>
      <ion-skeleton-text
        [animated]="true"
        class="skeleton-line price"
      ></ion-skeleton-text>
    </div>
    <ion-skeleton-text
      [animated]="true"
      class="skeleton-line short"
    ></ion-skeleton-text>
    <ion-skeleton-text
      [animated]="true"
      class="skeleton-line desc"
    ></ion-skeleton-text>
    <ion-skeleton-text
      [animated]="true"
      class="skeleton-line desc-2"
    ></ion-skeleton-text>

    <div class="meta-row">
      <ion-skeleton-text
        [animated]="true"
        class="skeleton-chip"
      ></ion-skeleton-text>
      <ion-skeleton-text
        [animated]="true"
        class="skeleton-chip"
      ></ion-skeleton-text>
    </div>
  </ion-card-content>
</ion-card>
