.image {
  object-fit: cover;
  overflow: hidden;
  height: 20rem;
  width: 100%;
}

.details {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  h4 {
    font-weight: bold;
    font-size: 2rem;
  }

  p {
    margin: 0;
    font-size: 0.8rem;
    color: #818c9b;
    font-size: medium;
  }
}
