<ion-header>
  <ion-toolbar>
    <ion-title mode="md">
      <span>Home</span>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-slider [slides]="bannerSlides" [loading]="loading"></app-slider>
  @if (loading) { @for (item of skeletonItems; track item) {
  <app-skeleton-cards-loading></app-skeleton-cards-loading>
  } } @else { @for (item of restaurants; track item.id) {
  <app-restaurant-card [restaurant]="item"></app-restaurant-card>
  } @empty {
  <p class="empty-state">No restaurants found nearby.</p>
  } }
</ion-content>
