<ion-content [fullscreen]="true">
  <div class="container">
    <app-authheader
      title="Sign Up"
      subtitle="Hello there! Let's create your account"
      imgSrc="assets/images/register.png"
    />

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">
      <!-- Name -->
      <div class="inputContainer">
        <ion-item color="light" class="inputarea">
          <ion-icon name="person" slot="start" color="primary"></ion-icon>
          <ion-input
            type="text"
            formControlName="name"
            placeholder="Enter your name"
          ></ion-input>
        </ion-item>
        <ion-text
          color="danger"
          class="errorText"
          *ngIf="f['name'].invalid && f['name'].touched"
        >
          <p *ngIf="f['name'].errors?.['required']">Name is required</p>
          <p *ngIf="f['name'].errors?.['minlength']">
            Name must be at least 3 characters
          </p>
        </ion-text>
      </div>

      <!-- Email -->
      <div class="inputContainer">
        <ion-item color="light" class="inputarea">
          <ion-icon name="mail" slot="start" color="primary"></ion-icon>
          <ion-input
            type="email"
            formControlName="email"
            placeholder="Enter your Email"
          ></ion-input>
        </ion-item>
        <ion-text
          color="danger"
          class="errorText"
          *ngIf="f['email'].invalid && f['email'].touched"
        >
          <p *ngIf="f['email'].errors?.['required']">Email is required</p>
          <p *ngIf="f['email'].errors?.['email']">
            Please enter a valid email address
          </p>
        </ion-text>
      </div>

      <!-- Password -->
      <div class="inputContainer">
        <ion-item color="light" class="inputarea">
          <ion-icon name="key" slot="start" color="primary"></ion-icon>
          <ion-input
            type="password"
            formControlName="password"
            placeholder="Enter your password"
          >
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <ion-text
          color="danger"
          class="errorText"
          *ngIf="f['password'].invalid && f['password'].touched"
        >
          <p *ngIf="f['password'].errors?.['required']">Password is required</p>
          <p *ngIf="f['password'].errors?.['minlength']">
            Password must be at least 8 characters long
          </p>
        </ion-text>
      </div>

      <!-- Confirm Password -->
      <div class="inputContainer">
        <ion-item color="light" class="inputarea">
          <ion-icon name="key" slot="start" color="primary"></ion-icon>
          <ion-input
            type="password"
            formControlName="confirmPassword"
            placeholder="Confirm your password"
          >
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <ion-text
          color="danger"
          class="errorText"
          *ngIf="f['confirmPassword'].invalid && f['confirmPassword'].touched"
        >
          <p *ngIf="f['confirmPassword'].errors?.['required']">
            Please confirm your password
          </p>
          <p *ngIf="f['confirmPassword'].errors?.['mismatch']">
            Passwords do not match
          </p>
        </ion-text>
      </div>

      <!-- Date of Birth (opens as bottom sheet) -->
      <div class="inputContainer">
        <ion-item
          color="light"
          class="inputarea"
          id="open-dob-modal"
          button="true"
        >
          <ion-icon
            name="calendar-outline"
            slot="start"
            color="primary"
          ></ion-icon>
          <ion-input
            readonly="true"
            [value]="formattedDob()"
            placeholder="Select your date of birth"
          ></ion-input>
        </ion-item>
        <ion-text
          color="danger"
          class="errorText"
          *ngIf="f['dob'].invalid && f['dob'].touched"
        >
          <p *ngIf="f['dob'].errors?.['required']">Date of birth is required</p>
        </ion-text>
      </div>

      <!-- Gender (bottom sheet list) -->
      <div class="inputContainer">
        <ion-item
          color="light"
          class="inputarea"
          id="open-gender-sheet"
          button="true"
        >
          <ion-icon
            name="male-female-outline"
            slot="start"
            color="primary"
          ></ion-icon>
          <ion-input
            readonly="true"
            [value]="formattedGender()"
            placeholder="Select your gender"
          ></ion-input>
        </ion-item>
        <ion-text
          color="danger"
          class="errorText"
          *ngIf="f['gender'].invalid && f['gender'].touched"
        >
          <p *ngIf="f['gender'].errors?.['required']">
            Please select your gender
          </p>
        </ion-text>
      </div>

      <ion-button
        expand="block"
        shape="round"
        type="submit"
        [disabled]="registerForm.invalid || isLoading"
      >
        <ion-spinner *ngIf="isLoading" slot="start"></ion-spinner>
        <span *ngIf="!isLoading">Submit</span>
      </ion-button>
    </form>
    <ion-text color="primary" class="ion-text-center">
      <p>Already have an account? <b [routerLink]="['/login']">Login</b></p>
    </ion-text>
  </div>
  <ion-modal
    #genderSheet
    trigger="open-gender-sheet"
    [initialBreakpoint]="0.35"
    [breakpoints]="[0, 0.35]"
  >
    <ng-template>
      <ion-content>
        <div class="sheetHeader"><h3>Select Gender</h3></div>
        <ion-list lines="none">
          <ion-item
            *ngFor="let option of genderOptions"
            button="true"
            detail="false"
            (click)="selectGender(option.value, genderSheet)"
          >
            <ion-label>{{ option.label }}</ion-label>
            <ion-icon
              *ngIf="f['gender'].value === option.value"
              name="checkmark-outline"
              slot="end"
              color="primary"
            ></ion-icon>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-modal
    trigger="open-dob-modal"
    [initialBreakpoint]="0.6"
    [breakpoints]="[0, 0.6]"
    #dobModal
  >
    <ng-template>
      <ion-content>
        <div class="sheetHeader"><h3>Select Date of Birth</h3></div>
        <ion-datetime
          presentation="date"
          [max]="maxDate"
          [value]="f['dob'].value"
          (ionChange)="onDateChange($event , dobModal)"
        ></ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
